<!DOCTYPE html>
<html>
	<head>
		<title>Larry Mahrt Viz</title>
		<style>
			body { margin: 0; height: 100vh; overflow-y:hidden; }
			canvas { width: 100%; height: 100%}
			#loading_div {
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 10;
				color: white;
			}
			#player {
				position: absolute;
				width: 1000px;
				left: 100px;
				top: 90vh;
				z-index: 10;
			}
			#time_slider {
				/*position: absolute;
				left: 100px;
				top: 90vh;*/
				width: 800px;
				z-index: 10;
			}
		</style>

		<!-- jQuery UI -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Alertify css -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.9.0/css/alertify.min.css"/>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.9.0/css/themes/default.min.css"/>

	</head>
	<body>


	<div id='loading_div'><h2>Loading scene, please wait...</h2></div>
	<div id='player'>
		<div id='time_slider'></div>
		<button id='forward' type='button'>Forward</button>
		<button id='backward' type='button'>Backward</button>
		<button id='reset' type='button'>Reset</button>
	</div>
	<script type="x-shader/x-vertex" id="vertexShader">
		varying vec2 vUV;
		void main() {
			vUV = uv;
			gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
		}
	</script>
	<script type="x-shader/x-fragment" id="fragmentShader">
		uniform sampler2D t_data;
		varying vec2 vUV;
		void main() {
			vec4 texColor = texture2D(t_data, vUV);
			gl_FragColor = texColor;
		}
	</script>

	<!-- Misc assets -->
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/alertifyjs/1.9.0/alertify.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


 	<!-- Three.js assets -->
	<script src="js/three.js"></script>
	<script src="js/OrbitControls.js"></script>

	<!-- Main app assets  -->
	<script src="js/utils.js"></script>
	<script src="js/main.js"></script>
	</body>
</html>
